.soundBoard-category-sounds-soundContainer
  .soundBoard-category-sounds-soundContainer-sound{class: sound.color, data: {controller: "sound", sound_target: "root"}}
    %audio{src: "sounds/#{sound.name}.mp3", data: {sound_target: "sound"}}

    .soundBoard-category-sounds-soundContainer-sound-name{title: sound.name}= sound.name

    %i.bx.bx-play-circle.soundBoard-category-sounds-soundContainer-sound-play{data: {action: "click->sound#play"}}
    %i.bx.bx-stop-circle.soundBoard-category-sounds-soundContainer-sound-stop{data: {action: "click->sound#stop"}}
