*
  box-sizing: border-box

html,body
  width: 100%
  padding: 0
  margin: 0

  font-family: "Open Sans", sans-serif

.sounds
  width: 100%

  padding: 1rem
  gap: 1rem

  display: flex
  flex-direction: column
  flex-wrap: wrap

.sounds-stop
  font-size: 1.5rem

  cursor: pointer

.sounds-sound
  display: flex
  flex-direction: row
  align-items: center

.sounds-sound-play
  font-size: 1.5rem

  cursor: pointer
