*
  box-sizing: border-box

html,body
  width: 100%
  padding: 0
  margin: 0

  font-family: "Open Sans", sans-serif

.soundBoard
  width: 100%
  max-width: 1000px
  margin-inline: auto

.soundBoard-category
  width: 100%

.soundBoard-category-title
  font-size: 1.5rem
  font-weight: bold

.soundBoard-category-sounds
  width: 100%

  display: flex
  flex-direction: row
  flex-wrap: wrap

.soundBoard-category-sounds-soundContainer
  width: 20%

  padding: .4rem

.soundBoard-category-sounds-soundContainer-sound
  padding: .4rem

  display: flex
  flex-direction: row
  align-items: center

  background-color: white

  box-shadow: 0 3px 6px rgba(0, 0, 0, .16)
  border-radius: 10px

  &.red
    color: white
    background-color: #eb4034
    box-shadow: 0 3px 6px rgba(235, 64, 52, .4)

  &.green
    color: white
    background-color: #32a852
    box-shadow: 0 3px 6px rgba(50, 168, 82, .4)

  &.playing
    color: white

    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    background-size: 400% 400%
    animation: gradient 5s ease infinite

    box-shadow: none

.soundBoard-category-sounds-soundContainer-sound-name
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

  user-select: none

.soundBoard-category-sounds-soundContainer-sound-play
  margin-left: auto
  font-size: 1.5rem

  cursor: pointer

  .soundBoard-category-sounds-soundContainer-sound.playing &
    display: none

.soundBoard-category-sounds-soundContainer-sound-stop
  margin-left: auto
  display: none

  font-size: 1.5rem

  cursor: pointer

  .soundBoard-category-sounds-soundContainer-sound.playing &
    display: block

@keyframes gradient
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%
