.soundCard
  width: 100%

  @media (min-width: 348px)
    width: 50%

  @media (min-width: 522px)
    width: calc(100% / 3)

  @media (min-width: 696px)
    width: 25%

  @media (min-width: 870px)
    width: 20%

  padding: .4rem

  &.hidden
    display: none

.soundCard-sound
  padding: .4rem

  display: flex
  flex-direction: row
  align-items: center

  background-color: white

  box-shadow: 0 3px 6px rgba(0, 0, 0, .16)
  border-radius: 10px

  &.red
    color: white
    background-color: #eb4034
    box-shadow: 0 3px 6px rgba(235, 64, 52, .4)

  &.yellow
    color: white
    background-color: #fcba03
    box-shadow: 0 3px 6px rgba(252, 186, 3, .4)

  &.green
    color: white
    background-color: #32a852
    box-shadow: 0 3px 6px rgba(50, 168, 82, .4)

  &.playing
    color: white

    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    background-size: 400% 400%
    animation: gradient 5s ease infinite

    box-shadow: none

.soundCard-sound-name
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

  user-select: none

.soundCard-sound-play
  margin-left: auto
  font-size: 1.5rem

  cursor: pointer

  .soundCard-sound.playing &
    display: none

.soundCard-sound-stop
  margin-left: auto
  display: none

  font-size: 1.5rem

  cursor: pointer

  .soundCard-sound.playing &
    display: block

@keyframes gradient
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%
